.bowling-game {
  margin: 40px auto;
  padding: 0 10px;
}

.controls {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-items: center;
}

.button {
  min-width: 40px;
  height: 40px;
  margin: 3px 40px;
}

.button:hover,
.button:focus {
  cursor: pointer;
}

.frames,
.pin-buttons {
  display: flex;
  justify-content: center;
  margin: 20px;
  flex-wrap: wrap;
}

.score-container {
  font-size: 32px;
  font-weight: 500;
}

.score {
  font-size: 48px;
  font-weight: 700;
}
